<footer role="contentinfo" class="mainfooter text-left">
  <div class="footer-middle pt-4 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Acerca de ABUD </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="https://abud.org.do/acerca-de-la-abud/historia/">
                  Historia </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/acerca-de-la-abud/objetivos/">
                  Objetivos </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/acerca-de-la-abud/gobierno-y-administracion/">
                  Gobernanza y administración </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/actividades-y-eventos/">Actividades y Eventos </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/anuncios-y-noticias/">Anuncios y Noticias </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Miembros </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="https://abud.org.do/miembros/asamblea-de-miembros/">
                  Asamblea de miembros </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/miembros/como-asociarse/">
                  Cómo asociarse </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/miembros/cobertura-geografica/">
                  Cobertura geográfica </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/miembros/instituciones-miembros/">
                  Instituciones miembros </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/miembros/categorias-de-miembros/">
                  Categorías de miembros </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Recursos profesionales </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="https://abud.org.do/recursos-profesionales/repositorios-y-blogs/">
                  Repositorios y blogs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/recursos-profesionales/legislacion/">
                  Legislación </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/recursos-profesionales/normas-y-estandares/">
                  Normas y estándares </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://abud.org.do/publicaciones/">
                  Publicaciones </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-pad">
          <h4> Línea de Atención </h4>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-phone text-white"></i> (809)-562-6601, ext. 2301 / 2327
            </li>
            <li>
              <i class="fa-brands fa-whatsapp fa-lg"></i> (809) 723 1960
            </li>
            <li><i class="fa fa-envelope text-white"></i> emarrero@unphu.edu.do
            </li>
            <li><i class="fa fa-envelope-open text-white"></i>
              <span class="show-onhover"> Universidad Nacional Pedro Henríquez Ureña (UNPHU) Biblioteca Central.</span>
              Aut. Duarte Km. 6 ½. Santo Domingo, DO
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-dark border-top-0">
    <div class="col-md-12 text-white">
      <p class="text-center pt-4"> © Copyright {{ dateStr }} - ABUD </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">

        <li>
          <a routerlink="/community-list" class="btn text-white" href="/community-list"> Communities </a>
        </li>
        <li><button type="button" class="btn btn-link text-white"> Cookie settings </button></li>
        <li class="ng-star-inserted"><a routerlink="info/privacy" class="btn text-white" href="/info/privacy">Privacy policy</a></li>
        <li class="ng-star-inserted"><a routerlink="info/end-user-agreement" class="btn text-white" href="/info/end-user-agreement">End User Agreement</a></li>
        <li class="ng-star-inserted"><a routerlink="info/feedback" class="btn text-white" href="/info/feedback">Send Feedback</a></li>
      </ul>
    </div>
  </div>
</footer>
