<footer role="contentinfo" class="mainfooter text-left">
  <div class="footer-middle pt-4 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Acerca de ABUD </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page">
                  Historia </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Objetivos </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Gobernanza y administración </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Actividades y Eventos </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Anuncios y Noticias </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Miembros </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page">
                  Asamblea de miembros </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Cómo asociarse </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Cobertura geográfica </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Instituciones miembros </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Categorías de miembros </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <h4>Recursos profesionales </h4>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page">
                  Repositorios y blogs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Legislación </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Normas y estándares </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  Publicaciones </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-pad">
            <h4> Línea de Atención </h4>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-phone text-white"></i> (809)-562-6601, ext. 2301 / 2327
              </li>
              <li>
                <i class="fa-brands fa-whatsapp fa-lg"></i> (809) 723 1960
              </li>
              <li><i class="fa fa-envelope text-white"></i> emarrero@unphu.edu.do
              </li>
              <li><i class="fa fa-envelope-open text-white"></i>
                <span class="show-onhover"> Universidad Nacional Pedro Henríquez Ureña (UNPHU) Biblioteca
                  Central.</span>
                Aut. Duarte Km. 6 ½. Santo Domingo, DO
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-dark border-top-0">
    <div class="col-md-12 text-white">
      <p class="text-center pt-4"> © {{ "footer.copyright" | translate }}, {{ dateStr }} - RI-ABUD </p>
      <ul class="footer-info list-unstyled d-flex justify-content-center mb-0">

        <li>
          <a routerLink="/community-list" class="btn text-white"> {{ "footer.communityList" | translate }} </a>
        </li>
        <li><button type="button" class="btn btn-link text-white"> {{ "footer.link.cookies" | translate }} </button>
        </li>
        <li class="ng-star-inserted"><a routerLink="info/privacy" class="btn text-white">
            {{ "footer.link.privacy-policy" | translate }}</a></li>
        <li class="ng-star-inserted">
          <a routerLink="info/end-user-agreement" class="btn text-white">{{ "footer.link.end-user-agreement" |
            translate}}</a>
        </li>
        <li class="ng-star-inserted"><a routerLink="info/feedback" class="btn text-white">
            {{ "footer.link.feedback" | translate }}</a></li>
      </ul>
    </div>
  </div>
</footer>